*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background: linear-gradient(to right, #1e90ff, #ff69b4); */
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    border: 1px solid white;
    padding-top: 1rem;
    background-color: rgb(56, 53, 65);
    height: auto;
    
    
}

.add-task-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.input input{
width: 100%;
    padding: 1rem 2rem 1rem 2rem ;
border: none;
}

#add-btn{
    background-color: blueviolet;
    padding: 0.7rem;
    border: none;
    font-size: 20px;
    color: white;
    cursor: pointer;
}